:root {
  --primary-color: white;
  --secondary-color: aqua;
  --accent1-color: black;
  --accent2-color: yellowgreen;
  --headin-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color)
}

header,
main,
footer {
  width: 100%;
  margin: 0 auto;
}

/* header{} */

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

/* main {} */

h1,
h2 {
  font-family: var(--headin-font);
  color: var(--primary-color);
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
}

.hero article {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color: white;
}

.hero article img {
  float: right;
  padding-right: 10px;
  width: 125px;
  height: auto;
  border: 0;
  margin: 0;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

/* footer{} */

.socialmedia a {
  text-decoration: none;
}