:root {

  --color-primary: darkgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: var(--color-primary);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

h1 {
  color: var(--color-primary);
  border-bottom: 2px solid #000;
}

img {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2 / 3;
  margin: 1rem;
}

main img {
  width: 140px;
  height: auto;
  border: 3px;
  padding: 2px;
  box-shadow: inset;
  float: right;
  margin: 7px 0 1rem 1rem;
}

p {
  margin: 1rem;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0/ 0.2);
  /* 1 */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  color: darkred;
  position: absolute;
  top: 20px;
  left: 135px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/*Class selectors*/
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}